/* css universal */
* {
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30.0,7)), url('../Gambar/Marsha.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}

.header {
    background-color: rgb(0 0 0 / 50%);
    text-align: center;
    color: aliceblue;
    padding: 20px;
}

.navbar {
    overflow: hidden;
    background-color: aqua;
}

.navbar a {
    float: left;
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: aliceblue;
    color: black;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
}

/* clear float dan memisahkan dari column sebelumnya */
.row::after {
    counter: "";
    display: table;
    clear: both; /* Membersihkan float sebelumnya */
}

.footer {
    padding: 10px;
    text-align: center;
}