* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    margin: auto;
    background-color: antiquewhite;
}

h2 {
    text-align: center;
    margin: 100px 50px;
}

#div1, #div2, #div3 {
    display: inline-block;
    margin: auto;
    width: 30%;
    color: aqua;
    border: 3px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: blue;
    height: 50vh;
    cursor: pointer;
}